.title{
    margin-bottom: 3px;
    font-weight: bold
}

.judul{
    text-shadow: 1px 1px grey;
    font-weight: bold
}

.samplecode{
    width:45%;
    font-size:10.5px;
    /* background-color: rgb(42, 42, 42);
    color: rgb(131, 246, 73); */
    /* box-shadow: 5px 5px grey; */
}
.button{
    background-color: forestgreen;
    color:white;
    margin-left: 5px;
    margin-top:3px;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    /* padding: 15px 32px; */
    text-align: center;
}
/* #code{
    width:50%
} */
#codemirror{
    transition:all 0.25s ease-in;
    right:10px;
    top:25px;
    position:fixed;
    width:50%;
    /* height:1000px; */
}

.CodeMirror{
    height: 560px !important;
    /* width:98%; */
    font-size: 10.5px;
    box-shadow: 5px 5px grey;
    overflow-x:hidden !important;
    
    resize: vertical;
    overflow: auto !important;
}
.CodeMirror-gutter-wrapper{
    
    left: -50 !important;
}