/vendor
/.idea
Homestead.json
Homestead.yaml
/public/js/*.js
/public/uploads
/public/models.json
/public/.htaccess
/public/app
.env
.env.*
.editorconfig
/database/migrations/projects
/database/migrations/alters
/app/Models/CustomModels
/app/Models/BasicModels
/app/Models/SuperModels
/logs
*.tar.gz
*_log
local-*.*
database/*.sqlite
resources/views/projects/*.blade.php
app/Cores/*.php
.phpunit.*.*
tests
testlogs/*.txt
*_backup